{% extends 'escola/base.html' %}

{% block content %}

<h1>Lista de Cursos</h1>

{% for curso in cursos %}

    <div style="border:1px solid black; padding:20px; margin:20px;">

        <h2>{{ curso.nome }}</h2>

        <img src="{{ curso.imagem }}" width="300">

        <p>
            <strong>Professor:</strong>
            {{ curso.professor.nome }}
        </p>

        <h3>Alunos:</h3>

        <ul>
            {% for aluno in curso.alunos.all %}
                <li>{{ aluno.nome }}</li>
            {% endfor %}
        </ul>

    </div>

{% endfor %}

{% endblock %}