{% extends "escola/base.html" %}

{% block content %}

<h1>Login</h1>

<section class="course-card">

    <form method="POST">

        {% csrf_token %}

        <p>
            <input
                type="text"
                name="username"
                placeholder="Username"
                required
            >
        </p>

        <p>
            <input
                type="password"
                name="password"
                placeholder="Password"
                required
            >
        </p>

        <button type="submit">
            Entrar
        </button>

    </form>

    {% if erro %}

        <p style="color:red;">
            {{ erro }}
        </p>

    {% endif %}

    <hr>

    <p>
        <a href="/accounts/registo/">
            Criar conta
        </a>
    </p>

    <p>
        <a href="/accounts/magic-link/">
            Entrar com Magic Link
        </a>
    </p>

</section>

{% endblock %}